[Desktop Entry]
X-Desktop-File-Install-Version=0.26
Name=xbap
Comment=Xorg BAP
Icon=/usr/share/icons/Xbap.png
Categories=Science
Exec=xbap
Type=Application
