[Desktop Entry]
X-Desktop-File-Install-Version=0.26
Name=xdap
Comment=Xorg DAP
Icon=/usr/share/icons/dap.png
Categories=Science
Exec=dbap
Type=Application
